gui:
  # Better visibility for selections
  theme:
    activeBorderColor:
      - "#bd93f9"
      - bold
    inactiveBorderColor:
      - "#44475a"
    optionsTextColor:
      - "#8be9fd"
    selectedLineBgColor:
      - "#44475a"
    selectedRangeBgColor:
      - "#44475a"
    cherryPickedCommitBgColor:
      - "#bd93f9"
    cherryPickedCommitFgColor:
      - "#282a36"
    unstagedChangesColor:
      - "#ff5555"
    defaultFgColor:
      - "#f8f8f2"
  
  # UI preferences
  showIcons: true
  showRandomTip: false
  showFileTree: true
  showListFooter: false
  showCommandLog: true
  showBottomLine: true
  nerdFontsVersion: "3"
  
  # Window settings
  border: rounded
  animateExplosion: true
  
  # Side panel
  expandFocusedSidePanel: true
  sidePanelWidth: 0.3333

git:
  paging:
    colorArg: always
    useConfig: true
    pager: delta --dark --paging=never
  
  commit:
    signOff: false
  
  merging:
    manualCommit: false
    args: ""
  
  pull:
    mode: rebase
  
  autoFetch: true
  autoRefresh: true
  branchLogCmd: "git log --graph --color=always --abbrev-commit --decorate --date=relative --pretty=medium {{branchName}} --"
  allBranchesLogCmd: "git log --graph --all --color=always --abbrev-commit --decorate --date=relative --pretty=medium"
  overrideGpg: false
  disableForcePushing: false
  
os:
  editPreset: "cursor"

refresher:
  refreshInterval: 10
  fetchInterval: 60

update:
  method: never

confirmOnQuit: false
quitOnTopLevelReturn: false

keybinding:
  universal:
    quit: q
    quit-alt1: <c-c>
    return: <esc>
    quitWithoutChangingDirectory: Q
    togglePanel: <tab>
    prevItem: <up>
    nextItem: <down>
    prevItem-alt: k
    nextItem-alt: j
    prevPage: ","
    nextPage: .
    scrollLeft: H
    scrollRight: L
    gotoTop: <
    gotoBottom: ">"
    toggleRangeSelect: v
    rangeSelectDown: <s-down>
    rangeSelectUp: <s-up>
    prevBlock: <left>
    nextBlock: <right>
    prevBlock-alt: h
    nextBlock-alt: l
    nextMatch: "n"
    prevMatch: "N"
    startSearch: /
    optionMenu: x
    optionMenu-alt1: "?"
    select: <space>
    goInto: <enter>
    confirm: <enter>
    confirmInEditor: <a-enter>
    remove: d
    new: "n"
    edit: e
    openFile: o
    scrollUpMain: <pgup>
    scrollDownMain: <pgdown>
    scrollUpMain-alt1: K
    scrollDownMain-alt1: J
    scrollUpMain-alt2: <c-u>
    scrollDownMain-alt2: <c-d>
    executeCustomCommand: ":"
    createRebaseOptionsMenu: m
    pushFiles: P
    pullFiles: p
    refresh: R
    createPatchOptionsMenu: <c-p>
    nextTab: "]"
    prevTab: "["
    nextScreenMode: +
    prevScreenMode: _
    undo: z
    redo: <c-z>
    filteringMenu: <c-s>
    diffingMenu: W
    diffingMenu-alt: <c-e>
    copyToClipboard: <c-o>
    openRecentRepos: <c-r>
    submitEditorText: <enter>
    extrasMenu: "@"
    toggleWhitespaceInDiffView: <c-w>
    increaseContextInDiffView: "}"
    decreaseContextInDiffView: "{"

  status:
    checkoutBranch: <space>

  files:
    commitChanges: c
    commitChangesWithoutHook: w
    amendLastCommit: A
    commitChangesWithEditor: C
    findBaseCommitForFixup: <c-f>
    ignoreFile: i
    refreshFiles: r
    stashAllChanges: s
    viewStashOptions: S
    toggleStagedAll: a
    viewResetOptions: D
    fetch: f
    toggleTreeView: "`"
    openMergeTool: M
    openStatusFilter: <c-b>

  branches:
    createPullRequest: o
    viewPullRequestOptions: O
    copyPullRequestURL: <c-y>
    checkoutBranchByName: c
    forceCheckoutBranch: F
    rebaseBranch: r
    renameBranch: R
    mergeIntoCurrentBranch: M
    viewGitFlowOptions: i
    fastForward: f
    createTag: T
    pushTag: P
    setUpstream: u
    fetchRemote: f

  commits:
    squashDown: s
    renameCommit: r
    renameCommitWithEditor: R
    viewResetOptions: g
    markCommitAsFixup: f
    createFixupCommit: F
    squashAboveCommits: S
    moveDownCommit: <c-j>
    moveUpCommit: <c-k>
    amendToCommit: A
    resetCherryPick: <c-R>
    copyCommitAttributeToClipboard: "y"
    openLogMenu: <c-l>
    openInBrowser: o
    viewBisectOptions: b
    pasteCommits: V

  stash:
    popStash: g
    renameStash: r

  commitFiles:
    checkoutCommitFile: c

  main:
    toggleSelectHunk: a
    pickBothHunks: b
    editSelectHunk: E

  submodules:
    init: i
    update: u
    bulkMenu: b

customCommands:
  - key: "<c-a>"
    command: "git add -A"
    context: "files"
    description: "Stage all files"
  - key: "<c-p>"
    command: "git push --force-with-lease"
    context: "localBranches"
    description: "Force push with lease"
    prompts:
      - type: "confirm"
        title: "Force push"
        body: "Are you sure you want to force push?"
